body{
    margin-top: 20px;
    background-color: #f1f3f7;
}



.section-1{
    background-color: white;
}

.searchbar{
    border-radius: 15px;
    padding-left: 20px;
    display: inline;
   
}

.butt{
   display: inline;
   padding-left: 1100px;
   border-radius: 2px;
  
}